<!DOCTYPE html>
<html lang='en'>


<head>
  {% block title %}<title>Caraway Scheduler</title>{% endblock %}
  
  <!-- Icon Pack -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Additional CSS to be loaded from /static -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  {% block add_css %}{% endblock add_css %}
</head>


<body>
  {% block sign_up_form %}
  {% endblock %}
  <div id="pagewrap">
    <div id="header">
      <img id="school-logo" src="http://carawayschool.ca/files/2017/02/Caraway-logo-noSeeds-960x777.png" alt="Caraway School Logo">

      <div id="site-title">
        <p>Facilitation Scheduler</p>
      </div> <!-- End Site Title -->

      <div id="hours-tracker">
        <ul>
          {% block weeklyHours %}<li>This Week: 0/5 hours</li>{% endblock %}
          {% block monthlyHours %}<li>This Month: 0/20 hours</li>{% endblock %}
        </ul>
      </div> <!-- End hours-tracker -->
      <div class="clear"></div> <!-- Expand height to fit content -->
    </div> <!-- End header -->

    <div id="main-body">
      <div id="sidebar">
        <div id="sidebar-menu">
          <ul>
            <li>
              <a href=""><i class="fa fa-calendar"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-line-chart"></i></a>
            </li>
          </ul>
        </div> <!-- End sidebar-menu -->
      </div> <!-- End sidebar -->


      <div id="content-body">
        {% block content %}
        {% endblock %} <!-- End content block -->
        <div class="clear"></div> <!-- Expand height to fit content -->
      </div> <!-- End content-body -->
      <div class="clear"></div> <!-- Expand height to fit content -->
    </div> <!-- End main-body -->
    <div class="clear"></div>
  </div> <!-- End pagewrap -->
</body>

</html>
