{% extends 'base.html' %}


{% block title %}
  <title>Caraway Calendar</title>
{% endblock title %}

{% block add_css %}
  {% load static %}
  <script src="{% static 'js/calendar.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}" />
{% endblock add_css %}


{% block content %}
  <section id="calendar">
    <div id="sign-up-overlay">
      <div id="sign-up-popup">
        <div id="sign-up-popup-close">
          <i class="fa fa-times-circle" onclick="toggle_popup('sign-up-overlay')"></i>
          <div class="clear"></div>
        </div>
        
        <section id="signup_headers">
          <h3 id="js-signup-day" class="signup-title">Default</h5>
          <h5 id="js-signup-date" class="signup-title">Default</h5>
        </section>
        
        <form id="signup_form" method="post">
          {% csrf_token %}
          <fieldset>
            <legend>Sign-up Information:</legend>
            {{ view.signup_form.as_p }}
            <input id="js-signup-hidden-date" type="hidden" name="day" value="Default"/>
            <button type="submit">Submit</button>
          </fieldset>
        </form>
      </div> <!-- End sign-up-form -->
    </div> <!-- End sign-up-overlay -->

    <!-- Classroom list -->
    <section id="class-list">
      {% for class_name in view.CLASSROOMS %}
        <!--
          Resulting css class will be class-name-nameofclassroom;
          i.e. class-name-Red
        -->
        <section id="class-name-{{ class_name }}" class="class-selector">
          {{ class_name }}
        </section>
      {% endfor %}  
    </section>
    
    
    {% load calendar_tags %}
    <section id="days-container">
    {% for day in view.date_and_name %}
      <section class="day">
        <section class="day-title">
          <h3>{{ day.0 }}</h3> <!-- (Day: Sunday, Monday, ..., Saturday) -->
          <h5>{{ day.1 }}</h5> <!-- (Date: e.g. Jan. 19, 2018) -->
        </section> <!-- End day-title -->

        <section class="day-schedule">
          {% for slot in view.TIME_SLOTS %}
          <div class="time-slot">
            <div class="time-slot-header">
              <!-- e.g. Morning [8:45 - 11:00] -->
              <h4 class="time-slot-title">{{slot.title}} [{% format_time slot.start %} - {% format_time slot.end %}]</h4>

              <div class="time-slot-add">
                <i class="fa fa-plus-circle" onclick="toggle_signup('{{ day.0 }}', '{{ day.1 }}', '{% format_time slot.start %}', '{% format_time slot.end %}', '{% format_date day.1 %}')"></i>
              </div> <!-- End time slot add -->

              <div class="clear"></div> <!-- Expand height to fit content -->
            </div> <!-- End time slot header -->

            <!-- Example sign-ups -->
            {% for signup in view.signup_objects %}
              {% if signup.date == day.1 and signup.start_time >= slot.start and signup.end_time <= slot.end %}
                <div class="day-event">
                  <p class="signup-info">{{ signup.classroom }}</p>
                  <p class="signup-info">{% format_time signup.start_time %} - {% format_time signup.end_time %}</p>
                </div>
              {% endif %}
            {% endfor %}
            <!-- End Example sign-ups -->
          </div> <!-- End Morning Time Slot -->
          {% endfor %}
        </section> <!-- End day-schedule -->
      </section> <!-- End day -->

    {% empty %}
      <h3>List Empty</h3>

    {% endfor %}
    </section>
    <div class="clear"></div> <!-- Extend height to fit content -->
  </section> <!-- End calendar -->
{% endblock content %}
