{% extends 'base.html' %}

{% block title %}
  <title>Caraway Calendar</title>
{% endblock title %}

{% block add_css %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/calendar.css' %}" />
{% endblock add_css %}


{% block content %}
  <div id="calendar">
    {% for day in view.day_and_name %}
      <div class="day">
        <div class="day-title">
          <h3>{{ day.0 }}</h3> <!-- (Day: Sunday, Monday, ..., Saturday) -->
          <h5>{{ day.1 }}</h5> <!-- (Date: e.g. Jan. 19, 2018) -->
        </div> <!-- End day-title -->

        <div class="day-schedule">
          <div class="time-slot">
            <h4>Morning Time Slot</h4>
            <div class="day-event">
              <p>9:00 - 10:30</p>
              <p>Facilitator Name 1</p>
            </div>
            <div class="day-event">
              <p>9:15 - 10:30</p>
              <p>Facilitator Name 2</p>
            </div>
            <!-- Ideal method of populating
            {% for event in morning %}
              <div class="day-event">
                <p>{{ event.start_time }} - {{ event.end_time }}</br></p>
                <p>{{ event.facilitator_name }}</p>
              </div>
            {% endfor %}
            morning list would be populated in the view by
            accessing the database -->
          </div> <!-- End Morning Time Slot -->

          <div class="time-slot">
            <h4>Noon Time Slot</h4>
            <!-- Ideal method of populating
            {% for event in noon %}
              <div class="day-event">
                <p>{{ event.start_time }} - {{ event.end_time }}</br></p>
                <p>{{ event.facilitator_name }}</p>
              </div>
            {% endfor %}
            noon list would be populated in the view by
            accessing the database -->
          </div> <!-- End Noon Time Slot -->

          <div class="time-slot">
            <h4>Afternoon Time Slot</h4>
            <!-- Ideal method of populating
            {% for event in afternoon %}
              <div class="day-event">
                <p>{{ event.start_time }} - {{ event.end_time }}</br></p>
                <p>{{ event.facilitator_name }}</p>
              </div>
            {% endfor %}
            afternoon list would be populated in the view by
            accessing the database -->
          </div> <!-- End Afternoon Time Slot -->
        </div> <!-- End day-schedule -->
      </div> <!-- End day -->

    {% empty %}
      <h3>List Empty</h3>

    {% endfor %}
    <div class="clear"></div> <!-- Extend height to fit content -->
  </div> <!-- End calendar -->
{% endblock content %}
