{% extends 'base-user-task.html' %}

{% block title %}<title>Family Stats</title>{% endblock %}

{% block task-content %}
<h2>Family Stats</h2>
<ul>
    <li>Weekly Hours:{{ view.week_total }}</li>
    <li>Month Hours:{{ view.month_total }}</li>
    <li>Required Hours:{{ view.required_hours }}</li>
    <li>Upcoming Signups:</li>
    <ul>
        {% for signup in view.current_signups %}
        <li>
            {{ signup }}
        </li>
        {% endfor %}
    </ul>
</ul>

{% endblock task-content %}