{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <p><a href="{% url 'logout' %}">Logout</a></p>
  <hr>
  <a href="{% url 'view_family' %}">View family</a> 
  <hr>
  <a href="{% url 'view_volunteer' %}">View volunteers</a> 
  <hr>
  <a href="{% url 'view_child' %}">View children</a> 
  <hr>
  <a href="{% url 'password_change' %}">
    Change password
  </a>
{% else %}
  <a href="{% url 'login' %}">login</a>
{% endif %}
{% if request.user.is_superuser %}
    <hr>
    <a href="{% url 'account' %}">Register a new account</a>
    <hr>
    <a href="{% url 'family' %}">Add a new family</a>
    <hr>
    <a href="{% url 'volunteer' %}">Add a new volunteer</a>
    <hr>
    <a href="{% url 'child' %}">Add a new child</a>
{% else %}
{% endif %}
{% endblock %}

