{% extends "base.html" %}

{% block content %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<div style='width: 90px; margin: 0 auto;'>
		<form method="post">
		{% csrf_token %}
			{% for key, value in name_list.items %}
				<button class="w3-button w3-black" name="volunteer" type="sumbit" value={{value.1}}>{{value.0}}</button>
				
			{% endfor %}
			<p1>The Current facilitator is: {{current_person.name}}, hours = {{current_person.hours}}</p1>
		</form>
	</div>
{% endblock content %}