.center-box {
  display: inline-block;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  box-shadow: 4px 4px 6px #222;
  background-color: white;
  border: solid black 1px;
  border-radius: 4px;
}
