html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#pagewrap {
    height: 100%;
}

/* main-body Styles */
#main-body {
    height: 100%;
    display: block;
    background-color: #555;
}

/* sidebar Styles */
#sidebar {
    width: 50px;
    height: 100%;
    position: relative;
    text-align: center;
    background-color: #333;
    color: white;
    float: left;
}

/* sidebar-menu Styles */
#sidebar-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#sidebar-menu li {
    display: block;
    text-align: center;
}

#sidebar-menu li a {
    color: white;
    text-decoration: none;
    display: block;
    height: 40px;
    width: 40px;
    padding: 5px;
}

#sidebar-menu li a i {
    font-size: 35px;
}

#sidebar-menu li a:hover {
    color: black;
    background-color: #ddd;
}
/*
  End sidebar-menu Styles
  End sidebar Styles
*/

#school-logo {
    width: 65px;
    height: 50px;
    float: left;
    padding: 5px;
}

#site-title {
    padding: 5px;
    float: left;
}
/*
  End content-body Styles
  End main-body Styles
*/


/* header Styles */
#header {
    height: 60px;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: white;
    overflow: hidden;
}

#content-body {
    top: 10px;
    margin-left: 50px;
    overflow: hidden;
}

#hours-tracker {
    height: 50px;
    text-align: center;
    float: right;
}

#hours-tracker ul {
    list-style: none;
    text-align: center;
    width: auto;
    padding: 0px;
}

#hours-tracker li {
    display: inline-block;
    padding: 10px;
}
/*
  End hours-tracker Styles
  End header Styles
*/


/* Misc Tiny Classes */
.right {
    float: right;
}

.inline {
    display: inline;
}

.clear {
    clear: both;
}
/*
  End Misc Tiny Classes
*/
}
