#calendar {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.day {
    display: inline-block;
    min-width: 12%;
    max-width: 14%;
    border: solid black 1px;
    border-radius: 4px;
    box-shadow: 4px 4px 6px #4b4b4b;
    margin: 0.5%;
}

.day-title {
    border-bottom: solid black 1px;
}

.day-title h3 {
    margin: 5px;
}

.day-title h5 {
    margin: 5px;
}

.day-schedule {
    min-height: 20px;
}