/* sign-up-overlay Styles */
#sign-up-overlay {
    float: left;
    position: fixed;
    visibility: hidden;
    height: 100%;
    width: 100%;
    z-index: 100;
    background: rgba(80, 80, 80, 0.7);
}

#sign-up-popup {
  position: fixed;
  width: 300px;
  margin-top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 4px 4px 6px #4b4b4b;
  padding: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
}

#sign-up-popup-close {
    margin-left: auto;
    width: 100%;
}

#sign-up-popup i {
    float: right;
    font-size: 20px;
    clear: both;
}

#sign-up-popup i:hover {
    cursor: pointer;
    color: red;
}

/* calendar Styles */
#calendar {
    position: relative;
    text-align: center;
}

/* day Styles */
.day {
    display: inline-block;
    /* For Sunday-Saturday
    min-width: 12%;
    max-width: 14%;*/
    /* For Monday-Friday */
    width: 18%;
    border: solid black 1px;
    border-radius: 4px;
    box-shadow: 4px 4px 6px #4b4b4b;
    margin: 0.5%;
}

/* day-title Styles */
.day-title h3 {
    margin: 5px;
}

.day-title h5 {
    margin: 5px;
}
/*
  End day-title Styles
  End day Styles
*/

/* time-slot Styles */
.time-slot {
    border-top: solid black 2px;
}

/* time-slot-title Styles */
.time-slot-title {
    display: inline-block;
    margin: 10px;
    padding: 5px;
}
/*
  End time-slot-title Styles
*/

/* time-slot-add Styles */
.time-slot-add {
    display: inline-block;
    color: black;
    font-size: 20px;
}

.time-slot-add a {
    color: black;
    text-decoration: none;
}

.time-slot-add:hover {
    color: green;
    cursor: pointer;
}
/*
  End time-slot Styles
  End time-slot-add Styles
*/

/* day-event Styles */
.day-event {
    border-top: dotted gray 1px;
}

.day-event p {
    margin-top: 5px;
    margin-bottom: 5px;
}
/*
  End day-event Styles
  End calendar Styles
*/
