#calendar {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.day {
    display: inline-block;
    /* For Sunday-Saturday
    min-width: 12%;
    max-width: 14%;*/
    /* For Monday-Friday */
    width: 18%;
    border: solid black 1px;
    border-radius: 4px;
    box-shadow: 4px 4px 6px #4b4b4b;
    margin: 0.5%;
}

.day-title h3 {
    margin: 5px;
}

.day-title h5 {
    margin: 5px;
}

.day-schedule {
    min-height: 20px;
}

.time-slot {
    border-top: solid black 2px;
}

.day-event {
    border-top: dotted gray 1px;
}

.day-event p {
    margin-top: 5px;
    margin-bottom: 5px;
}