#home_div a{
    color: blue;
}

#home_div{
    position: relative;
    background-color:white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 450px;
    clear: both;
    border: solid black 1px;
    padding: 25px;
}

.home-list {
  list-style: none;
}

.home-list li {
  padding: 5px;
  border-bottom: solid black 1px;
}
